<div class="forms">
<h1>{{title}}</h1>

{{#if isDeposit}}
    <form action="/offers/takedeposit" method="POST">
{{else}}
    <form action="/offers/takecredit" method="POST">
{{/if}}
<input type="hidden" name="id" value={{offer.id}}>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
                <p><h2>{{offer.name}}</h2></p>
    <p>Ставка {{offer.percent}} %</p>

    <p>Выберите сумму от {{offer.amountFrom}} до {{offer.amountTo}}
        <input class="form-range amount" type="range" name="amount" min={{offer.amountFrom}} max={{offer.amountTo}} step="10000" value={{offer.amountFrom}} oninput="sliderAmount()">
        
    </p>
    <h5><p class="amountres">Сумма: {{offer.amountFrom}} рублей</p></h5> 

    <p>Выберите срок от {{offer.termFrom}} до {{offer.termTo}}
        <input class="form-range term" type="range" name="term" min={{offer.termFrom}} max={{offer.termTo}} step="1" value={{offer.termFrom}} oninput="sliderTerm()">
    </p>
    <h5><p class="termres">Срок: {{offer.termFrom}} Месяцев</p></h5>
    {{#if isDeposit}}
        {{#if offer.refill}}
            <p>Можно поплнить счет в любой момент</p>
        {{else}}
            <p>Нельзя пополнить счет до окончания срока вклада</p>
        {{/if}}
        {{#if offer.takeAway}}
            <p>Можно вывести средства в любой момент</p>
        {{else}}
            <p>Нельзя вывести средства до окончания срока вклада</p>
        {{/if}}
    {{/if}}

    {{#if @root.isAuth}}
        <button class="btn btn-primary">Подтвердить</button> 
    {{/if}}

    </form>
    </div>
</div>

</div>


<script src="/slider.js"></script>
