<h1>{{title}}</h1>

{{#if isDeposit}}
    <form action="/offers/takedeposit" method="POST">
{{else}}
    <form action="/offers/takecredit" method="POST">
{{/if}}
<input type="hidden" name="id" value={{offer.id}}>
<div style='border: 1px solid black'>
    <p><h2>{{offer.name}}</h2></p>
    <p>Ставка {{offer.percent}} %</p>

    <p>Выберите сумму: {{offer.amountFrom}}
        <input type="range" name="amount" class="amount" min={{offer.amountFrom}} max={{offer.amountTo}} step="10000" value={{offer.amountFrom}} oninput="sliderAmount()">
        {{offer.amountTo}}
    </p>
    <p class="amountres">Сумма: {{offer.amountFrom}} рублей</p>

    <p>Выберите срок: {{offer.termFrom}}
        <input type="range" name="term" class="term" min={{offer.termFrom}} max={{offer.termTo}} step="1" value={{offer.termFrom}} oninput="sliderTerm()">
        {{offer.termTo}}
    </p>
    <p class="termres">Срок: {{offer.termFrom}} Месяцев</p>
    {{#if isDeposit}}
        {{#if offer.refill}}
            <p>Можно поплнить счет в любой момент</p>
        {{else}}
            <p>Нельзя пополнить счет до окончания срока вклада</p>
        {{/if}}
        {{#if offer.takeAway}}
            <p>Можно вывести средства в любой момент</p>
        {{else}}
            <p>Нельзя вывести средства до окончания срока вклада</p>
        {{/if}}
    {{/if}}

    {{#if @root.isAuth}}
        <button>Подтвердить</button> 
    {{/if}}
</div>
    </form>

<script src="/slider.js"></script>