<h1>Мои кредиты</h1>

{{#if credits}}
    {{#each credits}}
        <div style='border: 1px solid black'>
            Название выбранного кредита: {{rate.name}}
            <br>
            Процентная ставка: {{rate.percent}} %
            <br>
            Когда оформили кредит: {{date}}
            <br>
            Срок: {{term}} месяцев
            <br>
            Сумма: {{amount}} рублей
            <br>
            Ежемесячный платеж: {{pay}} рублей
            <br>
            Задолжность на конец месяца: {{remain}} рублей
        </div>
        <a href="#">Оплатить</a>
        <a href="#">Посмотреть историю</a>
    {{/each}}
{{else}}
    <h3>У вас нет кредитов? Оформите под дикий процент и платите до конца жизни!</h3>
{{/if}}