{{#if credits}}
    {{#each credits}}
        <div class="card forms">
    <h5 class="card-header">Кредит</h5>
    <div class="card-body">
        <h5 class="card-title">{{rate.name}}</h5>
        <p class="card-text">Процентная ставка: {{rate.percent}} %</p>
        <p class="card-text">Когда оформили кредит: {{date}}</p>
        <p class="card-text">Срок: {{term}} месяцев</p>
        <p class="card-text">Сумма: {{amount}} рублей</p>
        <p class="card-text">Ежемесячный платеж: {{pay}} рублей</p>
        <p class="card-text">Задолжность на конец месяца: {{remain}} рублей</p>
        <a href="#" class="btn btn-primary">Оплатить</a>
        <a href="#" class="btn btn-primary">Посмотреть историю</a>
    </div>
</div>
    {{/each}}
{{else}}
    <h3>У вас нет кредитов? Оформите под дикий процент и платите до конца жизни!</h3>
{{/if}}

