<h1>Мои кредиты</h1>

{{#if deposits}}
    {{#each deposits}}
        <div style='border: 1px solid black'>
            Название выбранного кредита: {{rate.name}}
            <br>
            Процентная ставка: {{rate.percent}} %
            <br>
            Срок: {{term}} месяцев
            <br>
            Сумма: {{amount}} рублей
        </div>
    {{/each}}
{{else}}
    <h3>Открой вклад в нашем банке и стань миллионером через 100 лет!</h3>
{{/if}}