
<h1>{{title}}</h1>

{{#each credit}}
    <div style='border: 1px solid black'>
        <p><h2>{{name}}</h2></p>
        <p>Ставка {{percent}} %</p>
        <p>Сумма кредита от {{amountFrom}} до {{amountTo}} рублей</p>
        <p>Срок выплаты кредита от {{termFrom}} до {{termTo}} месяцев</p>
        {{#if @root.isAuth}}
            <a href="/offers/credit/{{id}}">Оформить каторгу</a>
        {{/if}}
        {{#if @root.isAdm}}
            <a href="/edit/credit/{{id}}">Редактировать</a>
        {{/if}}
    </div>
{{/each}}


{{#each deposit}}
    <div style='border: 1px solid black'>
        <p><h2>{{name}}</h2></p>
        <p>Ставка {{percent}} %</p>
        <p>Сумма вклада от {{amountFrom}} до {{amountTo}} рублей</p>
        <p>Срок вклада от {{termFrom}} до {{termTo}} месяцев</p>
        {{#if refill}}
            <p>Можно пополнить счет в любой момент</p>
        {{else}}
            <p>Нельзя пополнить счет до окончания срока вклада</p>
        {{/if}}
        {{#if takeAway}}
            <p>Можно вывести средства в любой момент</p>
        {{else}}
            <p>Нельзя вывести средства до окончания срока вклада</p>
        {{/if}}
        {{#if @root.isAuth}}
            <a href="/offers/deposit/{{id}}">Стать чуточку богаче</a>
        {{/if}}
        {{#if @root.isAdm}}
            <a href="/edit/deposit/{{id}}">Редактировать</a>
        {{/if}}
    </div>
{{/each}}