<div>
    <h2>Профиль:</h2>
    <h3>{{person.post}}</h3>
    <p> Фамилия: {{person.surname}}
        Имя: {{person.name}}
        Отчество: {{person.patronymic}}
    </p>
    <p>Дата рождения: {{dateBirth}}</p>
    <p> Номер телефона: {{person.phone}}
        Почта: {{person.email}}</p>
    <p>Паспортные данные</p>
    <p>Серия и номер: {{person.pasport}} </p>
    <p>Дата выдачи паспорта: {{pasportDate}}</p> 
    <p>Подразделение: {{person.division}}</p>
</div>

